<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pci.mylibrary">

    <application>
        <meta-data
            android:name="com.pci.mylibrary.net.ssl.OkHttpGliedModel"
            android:value="GlideModule" />
        <activity android:name=".utils.Pick_layout" android:launchMode="singleTop" android:screenOrientation="portrait"/>
    </application>
</manifest>